@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* font-family: 'Ubuntu', sans-serif; */

html{
    scrollbar-width: none;
}
body{
    /* color: white; */
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow: hidden;
}

body::-webkit-scrollbar{
    display: none;
}
a{
    color: #1FAB89;
}

.loginFormContainer{
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    color:#1FAB89;
}



.loginFormMain{
    height: fit-content;
    background: #252A34;
    padding: 2rem;
    border-radius: 12px;
}

.loginFormContainer li{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0.5rem ;
}

input , textarea{
    font-family: 'Ubuntu', sans-serif;
    padding: 5px;
    font-size: 15px;
    outline: none;
    border-radius: 3%;
}
textarea{
    min-height: 3rem;
}
input:hover , textarea:hover{
    border: 2px solid #1FAB89;
}



.loginForm{
    display: flex;
    flex-direction: column;
}
.signupInput{
    height: 1.5rem;
    width: 18rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
}

.loginBtn{
    height: 2.3rem;
    border-radius: 10px;
    margin-top: 0.5rem;
    cursor: pointer;
    padding: 5px;
}


.loginBtn:hover{
    background: #1FAB89;
    color: white;
}

#login-to-register-li{
    display: flex;
    flex-direction: row;
}

.material-icons-md { 
    font-size: 3.5rem; 
}
.input-profile-img{
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    color:#E63E6D;
}

footer{
    color: white;
    background: #252A34;
    height: 2rem;    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position:fixed;
    bottom: 0;
}


footer a{
    color: #1FAB89;
}

/* nav{
    position:absolute;
    bottom: 0;
} */

.navbar{
    background:#252A34;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    font-family:'Ubuntu', sans-serif;
    font-size: 1.1rem;
}
.navContainer{
    display: flex;
    align-items: center;
}

.navLeft{
    width: 60vw;
    /* border: 2px solid orange; */
}
.navRight{
    width: 40vw;
    /* border: 2px solid blue; */
    justify-content: flex-end;
}

.navContainer li{
    list-style: none;
    margin: 0 1rem;
    color: #1FAB89;
    text-decoration: underline;
    text-decoration-color: #1FAB89;
    }
/* 
.navContainer li a{
    color: #1FAB89;
} */

.navContainer button{
    background: transparent;
    border-radius: 5px;
    width: fit-content;
    color: white;
    border: none;
    text-decoration: underline;
    text-decoration-color: #1FAB89;
    font-family:'Ubuntu', sans-serif;
    font-size: 1.1rem;
    color: #1FAB89;
    cursor: pointer;
}

#profileList{
    display: none;
    /* display: flex; */
    flex-direction: column;
    background:black;
    /* width: fit-content; */
    width: 3rem;
    list-style: none;       
    color: #1FAB89;
    justify-content: center;
    position: absolute;
    top: 3rem;
    right: 5rem;
}

.post-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    align-items:center;

}


.post-input-element{
    width: 30rem;
    max-width: 70%;
    margin-top: 1rem;
}

.post-input-desc{
    height: 3rem;   
}

.post-input-submit{
    width: 4rem;
    background: #1FAB89;
    color: #252A34;
    border-radius: 10%;
    cursor: pointer;
}
.post-input-submit:hover{
    color: #1FAB89;
    background: #252A34;
}

.post-container{
    margin-top: 0.7rem;
    /* width: 70%; */
}

.post-main{
    background:#252A34;
    color:#1FAB89;
    border: 3px solid ;
    border-radius: 10px 25px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
    /* background-color: #E63E6D;  */
}

.post-main:hover{
    background: #252a34f5;  
}
.post-username{
    font-size: 1.2rem;
    color: #E63E6D;
    padding-left: 0.3rem;
    text-decoration: none;
}

.post-title{
    padding: 0;
    margin: 0;
}

.post-desc-container {
    margin: 0;
    padding: 0;
    /* background: rebeccapurple; */
}

.post-header{
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    padding: 0.5rem;
    margin-bottom: 0.8rem;
    margin-left: 10%;
}

.post-text-container{
    /* background-color:bisque; */
    width: 75%;
    margin: auto;
    font-size: 1rem;
}
.interaction-container{
    display: flex;
    margin: 0.3rem 5vw;
}   

.interaction-btn{
    color:#1FAB89;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

/* 
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
} */
/* 
#material-symbols-outlined-like {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
} */


/* 
.material-symbols-outlined:hover{
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
} */


.post-interaction-count{
    font-size: 1.5rem;
}


.UsernameError{
    color:#E63E6D;
}  

.home-page-container{
    display: flex;
    margin-left: 1rem;
    margin-right: 2rem;
    margin-top: 1rem;
    /* background-color: #E63E6D; */
}
.home-post-container{
    width : 60vw;
    /* background:#252A34; */
    margin: auto;
    /* justify-content: center; */
}

/* scroller bar */

/* width */
::-webkit-scrollbar {
  width: 7px;   
}

/* Track */
::-webkit-scrollbar-track {
  background: #252A34;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:#E63E6D;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sidebar-main{
    font-family: 'Ubuntu', sans-serif;
    /* background-color: #E63E6D; */
    height: 100vh;
    min-height: fit-content;
    width: 25%;
    background:#3c3e42;
    /* padding: 0 1rem; */
    padding: 0;
    margin-left: 5rem;
    border-radius: 20px;
    padding: 1rem 0rem;
}

.sidebar-header-text{
    color:white;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin-top: -1.5rem;
}

.sidebar-main-card-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    height: 90vh;
}
.follow-card{
    background-color:#252A34;
    color: white;
    margin-bottom: 1rem;
    height: fit-content;
    display: flex;
    justify-content:space-evenly;
    border: 2px solid #1FAB89;
    align-items: center;
    border-radius: 5%;
    width: 10rem;
    display: flex;
    flex-direction: column;
}

.sidebar-img{
    height: 2rem;
    width: 2rem;
}
.sidebar-img img{
    height: 2rem;
    width: 2rem;
    border-radius: 40%;
}


.follow-btn{
    color:white;
    border: 2px solid #E63E6D;
    background-color: #252A34;
    border-radius: 10%;
    font-size: 0.9rem;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}
.unfollow-btn{
    margin-left: 1rem;
}
.follow-btn:hover{
    border: 2px solid #252A34;
    color: #E63E6D;
}

.profile-header-container{
    width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color:#1FAB89;
    font-family: 'Ubuntu', sans-serif;
}

.profile-header-container div{
    display: flex;
    justify-content:right;
}
.profile-header-username{
    margin-right: 0.3rem;
}
.submit-btn{
    border-radius: 10px;
    background-color: #1FAB89;
    color: #252A34;
    margin-left: 1rem;
}
.submit-btn:hover{
    background-color: #252A34;
    color: #1FAB89;
}


.change-img-container{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    width: 30vw;
    margin-right: 0.8rem;
}
.change-img-container:hover{
    color: #E63E6D;
}


.post-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-img-container img{
    width: 520px;
    height: 520px;
    /* width: 32.5rem;
    height: 32.5rem; */
    max-width: 100%;
    object-fit: cover;
}



@media only screen and (max-width: 800px) {
    .home-page-container{
        width: 100vw;
        display: flex;
        flex-direction: column;
        margin-left: auto;
    margin-right: auto;
    }
    .home-post-container{
        width: 95vw;
        margin: auto;
    }
    .sidebar-main-card-container{
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
    }
    .follow-card{
        margin-left: 1rem;
        padding: 0.7rem;
    }
    .sidebar-main{
        height: fit-content;
        height: 15vh;
        width: 95vw;
        margin: auto;
        overflow-y: hidden;
        overflow-x: hidden;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profile-header-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
.sidebar-username{
    margin-bottom : 0.3rem;
}
#preloader{
    background:black url("../public/preloader.gif") no-repeat center center;
    background-size:10rem;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    /* display: none; */
}

#modal{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    background-color: #252A34;
    color:white;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in;
    width: 80vw;
    /* width: fit-content;   */
    /* width: 80%; */
}
.active{
    opacity: 100 !important;
    pointer-events: all !important;
}

.modal-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background:#E63E6D;
    pointer-events: all;
    /* height: 100vh; */
    /* margin: 0 1rem; */
    /* cursor: pointer; */
}

#modal-close{
    height: fit-content;
    width: fit-content;
    font-size: 1.3rem;
    background: #1FAB89;
    color: #252A34;
    outline: #E63E6D;
    border: 2px solid  #E63E6D;
    border-radius: 5px;
    /* margin: 0; */
    margin: 5px 1rem 0 1rem;
}
.modal-container{
    margin: auto;
    padding-bottom: 2rem;
}

@media only screen and (max-width: 800px) {
    #modal{
        width: 90vw;
    }
    .post-container img{
        max-width: 85vw;
        max-height: 50vh;
    }
}

.comment-form{
    display: flex;
    flex-direction: row;
    gap : 0.5rem;
    margin: 0.4rem 5vw;   
}
.post-btn{
    width: 3.5rem;
    height: 2rem;
    background: #1FAB89;
    color: #252A34;
    border-radius: 7px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}
.post-btn:hover{
    background: #252A34;
    color: #E63E6D;
}

.post-text-input{
    border-radius: 7px;
    font-size: 0.9rem;
    padding: 0.3rem;
}
.comment-form input{
    outline: none;
    background: transparent;
    border: 2px solid #E63E6D;
    border-width: 0px 2px 3px 0px;
    color: white;
    width: 15rem;
}

.comment-label{
    font-size: 1.2rem;
    margin-left: 6%;
}
.comment-container{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    font-size: 0.9rem;
    margin-left: 6%;
    border:1px solid white;
    border-radius: 10px;
    border-right: 0;
    border-bottom: 0;
    padding: 5px 10px;
}
.comment-container a{
    color: #E63E6D;
    font-size: 0.93rem;
}
.comment{
    padding-top: 0.3rem;
}

.back-btn{
    background:#252A34;
    color: white;
    border-color:#1FAB89;
    cursor: pointer;
    border-radius: 15px;
    margin: 0;
    position:fixed;
    display: flex;
    align-items: center;
    opacity: 0.8;
}
.back-btn span{
    font-size: 1rem;
}
.back-icon {
    font-size: 2rem !important;
}

.loading-spinner{
    display: block;
    margin: auto;
    width: 3rem;
}
/* Disable Blue Highlight when Touch/Press object with Cursor:Pointer */
*{
    -webkit-tap-highlight-color: transparent;
}